<div 
    class="d-flex flex-column align-items-center justify-content-center" 
    style="margin: 24px auto">
<h1>
    Welcome <%= user.name %> on NodeJS Authentication app
</h1>

<div class="m-4">
<a class="btn btn-info me-4" href="/reset-password"> Reset Password</a>
<a class="btn btn-danger" href="/signout"> Sign Out </a>
</div>
</div>


<!--  name: 'Mukul Nagda',
  email: 'mukul79@gmail.com',
  password: 'Mukul@56' -->

  